.cards {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
