.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
    padding-bottom: 36px;
  }
}
