.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  border-bottom: 1px solid #21212140;
  padding: 20px 0;
}

.header__profile {
  display: flex;
  gap: 24px;
  height: 178px;
}

.header__post-button {
  background-color: #212121;
  color: #fff;
  height: 52px;
  width: 149px;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0%;
}

.header__post-button:hover {
  background-color: #444;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .header__profile {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }

  .header__post-button {
    width: 100%;
    align-self: center;
  }
}
