.header {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.header__logo {
  width: 94px;
  height: 26px;
}
