.header {
  width: 100vw;
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.header__logo {
  width: 94px;
  height: 26px;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .header__profile {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
}
